.post{
	h1.title, .entry{
		margin-left: 200px;
	}
	.meta{
		position: absolute;
		top: 85px;
		line-height: 2;
		font-size: $meta-size;
		color: $gray02;
		width: 170px;
		a{
			@include link-colors($gray02, $gray01);
			@include transition(0.3s);
		}
		.date, .tags, .comments{
			padding-left: 30px;
		}
		.date{
			background: image-url('date.png') 0 center no-repeat;
		}
		.tags{
			background: image-url('tags.png') 0 center no-repeat;
		}
		.comments{
			background: image-url('comments.png') 0 center no-repeat;
		}
	}
}

@media screen and (max-width: 800px){
	.post{
		h1.title, .entry{
			margin-left: 0;
		}
		.meta{
			margin-top: 15px;
			position: static;
			width: auto;
			.date, .tags, .comments{
				@include inline-block;
				margin-right: 30px;
			}
		}
	}
}