$max-width: 1000px;

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: $default;
	font-weight: 300;
	font-size: 14px;
	background: $background;
	color: $gray01;
}
h1{
	font-size: 1.8em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.3em;
}
a{
	text-decoration: none;
	outline-width: 0;
	color: $main;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	@include pie-clearfix;
}
.inner{
	width: $max-width;
	margin: 0 auto;
}

@media screen and (max-width: 1030px){
	body{
		margin: 0 30px;
	}
	.inner{
		width: 100%;
	}
}

@media screen and (max-width: 600px){
	body{
		font-size: 13px;
	}
}