<ul class="main">
	<li><a href="{{ root_url }}/l10n">中文化</a></li>
	<li>
		<a href="{{ root_url }}/themes">主題</a>
		<ul class="sub-menu">
			<li><a href="{{ root_url }}/themes/pixivcustom">Pixiv Custom</a></li>
			<li><a href="{{ root_url }}/themes/corner">Corner</a></li>
		</ul>
	</li>
	<li>
		<a href="{{ root_url }}/scripts">腳本</a>
		<ul class="sub-menu">
			<li><a href="{{ root_url }}/scripts/google-plus-hover-zoom">Google+ Hover Zoom</a></li>
			<li><a href="{{ root_url }}/scripts/google-plus-fxxking-filter">Google+ Fxxking Filter</a></li>
			<li><a href="{{ root_url }}/scripts/google-plus-motionless">Google+ Motionless</a></li>
			<li><a href="{{ root_url }}/scripts/google-plus-speed-reply">Google+ Speed Reply</a></li>
		</ul>
	</li>
</ul>
