<ul class="main">
	<li><a href="{{ root_url }}/blog/categories/%E4%B8%AD%E6%96%87%E5%8C%96/">中文化</a></li>
	<li>
		<a href="{{ root_url }}/blog/categories/%E4%B8%BB%E9%A1%8C/">主題</a>
		<ul class="sub-menu">
			<li><a href="{{ root_url }}/blog/2010/12/30/pixiv-custom/">Pixiv Custom</a></li>
			<li><a href="{{ root_url }}/blog/2011/05/27/corner-theme/">Corner</a></li>
		</ul>
	</li>
	<li>
		<a href="{{ root_url }}/blog/categories/JavaScript/">腳本</a>
		<ul class="sub-menu">
			<li><a href="http://userscripts.org/scripts/show/106681">Google+ Hover Zoom</a></li>
			<li><a href="http://userscripts.org/scripts/show/111206">Google+ Fxxking Filter</a></li>
			<li><a href="http://userscripts.org/scripts/show/111484">Google+ Motionless</a></li>
			<li><a href="http://userscripts.org/scripts/show/119216">Google+ Speed Reply</a></li>
		</ul>
	</li>
</ul>
