#footer{
	position: relative;
	height: 50px;
	margin-bottom: 30px;
	&:before{
		position: absolute;
		top: 0;
		left: 0;
		content: "©";
		background: #000;
		color: #fff;
		font-size: 50px;
		line-height: 1.5;
		overflow: hidden;
		text-align: right;
		@include square(50px);
		@include user-select(none);
	}
	.wrap{
		margin-left: 55px;
		background: $black;
		color: #fff;
		line-height: 1;
		padding: 29px 10px 10px;
		font-size: 11px;
		.right{
			margin-top: -5px;
			a{
				position: relative;
				text-indent: -9999px;
				color: #fff;
				display: inline-block;
				margin-left: 10px;
				@include square(16px);
				&:before{
					position: absolute;
					top: 0;
					left: 0;
					font: 16px/1 $symbol;
					color: #999;
					text-indent: 0;
					@include user-select(none);
				}
				&:hover{
					&:before{
						color: #fff;
					}
				}
				&:first-child:before{content: "f"}
				&:nth-child(2):before{content: "g"}
				&:nth-child(3):before{content: "t"}
				&:last-child:before{content: "B"}
			}
		}
	}
}