#sidebar{
	width: 420px;
	background: $black;
	margin: 70px 0 30px;
	word-wrap: break-word;
	ul{
		list-style: none;
	}
	.widget{
		margin: 20px;
		color: #999;
		font-size: 13px;
		line-height: 1.5;
		h3{
			color: $main;
			font-weight: normal;
			font-size: 15px;
			margin-bottom: 5px;
			a{
				color: $main;
				&:hover{
					color: $main;
				}
			}
		}
		a{
			color: #ccc;
			&:hover{
				color: #fff;
				text-decoration: underline;
			}
		}
		ul{
			list-style: disc;
			margin-left: 15px;
			li{
				ul{
					list-style: circle;
				}
			}
		}
		&.thin{
			width: 180px;
			display: inline-block;
			vertical-align: top;
			&:nth-of-type(2n){
				margin-right: 0;
			}
		}
	}
}